@import url(https://fonts.googleapis.com/css?family=Roboto:wght@300);

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  align-content: center;
  margin-bottom: 0%;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.logoutButton {
  color: white;
}

.infobox,
.mw-references-wrap,
.navigation-not-searchable,
.thumbinner,
.mbox-text-span,
.mbox-image,
.mw-ext-cite-error,
.vertical-navbox,
.reference {
  display: none;
}

.diseaseDescription a {
  pointer-events: none;
  color: black;
}
