@import url(https://fonts.googleapis.com/css?family=Roboto:wght@300);

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  align-content: center;
  margin-bottom: 0%;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.infobox,
.mw-references-wrap,
.navigation-not-searchable,
.thumbinner,
.mbox-text-span,
.mbox-image,
.mw-ext-cite-error,
.vertical-navbox,
.reference {
  display: none;
}

.diseaseDescription a {
  pointer-events: none;
  color: black;
}

.disappear {
  display: none;
}

.completeMessage {
  border: 2px blue solid;
  background-color: skyblue;
  color: blue;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.container {
  border: black;
}
.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  border-radius: 2px;
}

.list-group-item {
  border: none;
  background: none;
  font-size: large;
}

/* BUTTONS */
.delete-profile,
.vax-profile {
  /* height: 20px; */
  text-align: center;
  /* line-height:8px; */
  margin-right: 10px;
  /* width: 80px */
}

.delete-profile {
  background-color: red;
}

.vax-profile {
  background-color: rgb(108, 133, 214);
}

.vaxlist {
  /* position: absolute; */
  width: 500px;
  max-width: 500px;
  min-width: 200px;
}


  .btnplacement {
    align-items: center; 
  }

  .recolist, .vaxlist {
    /* position: absolute; */
    width: 400px;
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 50px;
    }


body {
  background-image: url("./../img/earth.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 85% 0%;
}

/* Media Querries for responsiveness */
/* @media screen and (max-width: 577px) {
  .my-container {    
  max-width: 500px;
  margin: 0px;
  margin-bottom: 130px;
  padding-left: 20px;
  }
 } */

.result:hover,
.userInput:hover {
  background-color: transparent;
  color: salmon;
}
