.infobox,
.mw-references-wrap,
.navigation-not-searchable,
.thumbinner,
.mbox-text-span,
.mbox-image,
.mw-ext-cite-error,
.vertical-navbox {
  display: none;
}

.diseaseDescription a {
  pointer-events: none;
  color: black;
}
